<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пустой заказ</title>
    <link type="text/css" rel="stylesheet" href="/static/rest.css">
    <link type="text/css" rel="stylesheet" href="/static/button.css">
</head>
<body>
<div class="cont_internal" align="center">
    <h2>Ваш заказ пустой. Выберите блюда в меню и попробуёте ещё раз. </h2>
   <a href={{url_for('bp_basket.basket_index')}}>
            <button type="button" class="btn">К меню блюд</button>
   </a>
</div>
</body>
</html>