<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выход</title>
    <link type="text/css" rel="stylesheet" href="/static/rest.css">
    <link type="text/css" rel="stylesheet" href="/static/button.css">
</head>

<body class="cointainer1">
    <main >
        <h1 align="center">Вы вышли из системы</h1>
        <br>
        <p align="center">
           <a href="{{url_for('blueprint_auth.start_auth')}}">
                <button type="button" name="auth"> Войти заново </button>
           </a>
        </p>
    </main>

</body>
</html>>